<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => @article.title %></h1>
</div>

<div class="container-fluid">
  <div class="col-md-4">
<div class="row">
    <h3>Article Info</h3>
    <dl>
      <dt>Title</dt>
      <dd> <%= @article.title %> </dd>
      <dt>Created At</dt>
      <dd> <%=l @article.created_at, :format => :short_datetime %></dd> 
      <dt>Updated At </dt>
      <dd> <%=l @article.updated_at, :format => :short_datetime %></dd> 
      <dt>Categories</dt>
      <dd> <% @article.categories.each do |c| %><%= c.name %><% end %></dd>
    </dl>
  </div>
  <div class"col-md-8">
    <%= @article.content %></dd>
  </div>
</div>
</div>


<%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
