<!DOCTYPE html>
<html>
<head>
  <title>Wikiful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
      <% flash.each do |name, msg| %><%= content_tag :div, msg, id: "flash_#{name}" %><% end %>
  <% end %>
<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img alt="WikiFul" src="/assets/wlogo.png"></a>
        <ul class="nav navbar-nav">
          <li><h3>WikiFul Web</h3></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/articles">Articles</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="#">Login</a></li>
        </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-9">
      <div class="container-fluid"><%= yield %></div>
    </div>
    <div class="col-md-3">
      <h4>Categories</h4>
      <% @categories.each do |category| %>
        <p><%= link_to category.name, category %> </p>
      <% end %>
    </div>
  </div>

  <nav class="navbar navbar-static-bottom" role="navigation">
    <div class="container-fluid">
      <p class="navbar-text">Built By <a href="#" class="navbar-link">MJenkins</a></p>
    </div>
  </nav>

</div>
</body>
</html>
